@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #242424;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Righteous', cursive;
}
h4{
    font-size: 3vw;
}
a{
    text-decoration: none;
    color: #5a5a5a;

}
a:hover{
    color: #242424;
}


                    /* CONTAINER THAT HOLDS EVERY SECTIONS */


.container{
    padding: 0;
    border: 1px solid #242424;
    border-top: none;
    border-bottom: none;
}


                          /* HEADER SECTION */
.header{
    padding: 20px;
    border: 1px solid #242424;
    border-right: none;
    border-left: none;
}
.head-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}





                        /* TOP SECTION */



.topOne{
    position: relative;
    height: 42vw;
}
.title{
    /* BEAUTY IN SIMPLICITY */
    width: 65vw;
    line-height: 92.5%;
    font-size:10vw;
}
.mainImgContainer{
    z-index: -1;
    position: absolute;
    left: 17%;
    top: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #242424;
    border-radius: 300px;

}
.mainImg{
    width: 60vw;
    height: 30vw;
    border-radius: 300px;
}
.top-one-wrapper{
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.topTwo{
    display: flex;
}


.left{
    border-right: 1px solid #242424;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 35%;
    margin-top: 10px;
}
.serviceImg{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}
.service-img-box{
    margin-top: 20px;
    border: 1px solid #242424;
    border-radius: 50%;
    padding: 10px;

}
.our-service{
    margin-top: 20px;
    margin-bottom: 20px;
}
.right{
    padding: 30px;
    width: 75%;
}
.rightTop{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
}
.about-btn-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.rightBottom{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
    height:600px;
}
.our-team-img{
    width: 43vw;
    height: 22vw;
    object-fit:cover;
    border-radius: 300px;
}

.our-team-img-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-team-img-box{
    border: 1px solid #242424;
    position: relative;
    border-radius: 300px;
    padding: 10px;

}

.our-team-title{
    color: white;
    position: absolute;
}


.text-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.text{  
    text-align: center;
    width: 20%;
    transform: rotate(-90deg);
}
.para{
    width: 80%;
}





                    /* VISION SECTION */



.vision{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #242424;
    padding: 50px 0;
    border-left:none ;
    border-right:none ;
}
.visionImg{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.vision-img-container{
    width: 100%;
}
.vision-text-wrapper{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-para{
    width: 50%;
}
.vision-title{
    width: 50%;
}



                /* PROJECT SECTION */


.projects{
    min-height: 490px;
    width: 100%;
    border-bottom: 1px solid #242424;
    display: flex;
}
.project-img{
    width: 25%;
}
.projectDisplay{
    width: 100%;
    height: 100%;
    border: 1px solid #6F6F6F;
    object-fit: cover;
    border-top:none ;
    border-bottom:none ;
}
.project-img-container{
    width: 50%;
    display: flex;
}
.project-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.project-text-container .ProjectBtn{
    margin:auto;    
}
.project-title{
    margin-right: auto;
    margin-bottom: 30px;
}
.project-para{
    width: 90%;

    margin-bottom: 20px;
}


                    /* CLIENTS SECTIONS */

.bigClients{
    width: 100%;
    border-bottom: 1px solid #242424;
    display: flex;
    padding: 30px;
}
.big-clients-wrapper{
    width: 100%;
}
.big-title{
    width: 50%;
}
.big-para{
    width: 50%;
}


                    /* CLIENTS LOGO SECTION */


.clientLogo{
    width: 100%;
    border-bottom: 1px solid #242424;
}
.client-logo-img-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.client-logo-Img{
    width: 22vw;
    height: 13vw;
    object-fit: cover;
}





                                    /* START PROJECT BUTTON SECTION */


.bigBtn{
    width: 100%;
    border-bottom: 1px solid #242424;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}




                                        /* CONTACT SECTION */

.contact{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #242424;
}
.form-wrapper{
    width: 50%;
    border-right: 1px solid #242424;
    padding: 50px;
}

.form{
    display: flex;
    flex-direction: column;

}
.form-text-container{
    width: 60%;
}
.form-input{
    min-width:200px;
    width: 100%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    border: 1px solid #242424;
    border-radius: 60px;
    margin-top: 10px;
    padding-left: 20px;
}
.form-input::placeholder{
    padding-left: 20px;
}

.form-btn-container{
    width: 100%;
    margin-top: 20px;
}

.links-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.links{
    text-align: center;
    width: 100%;
    padding: 30px;
    border-top:1px solid #242424;
}

.links:last-child{
    border-bottom:1px solid #242424;
}



                                /* FOOTER SECTION */


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-bottom: 1px solid #242424;
    margin-bottom: 20px;
}




                    /* BUTTONS */

.btn{
    margin: 10px;
    width: 30%;
    padding: 1rem 0.75rem;
    border-radius: 100px;
    border: 1px solid #242424;
    color: #242424;
    text-align: center;
}

.consultBtn{
    background-color: #242424;
    color: white;
    transition: all .5s ease-in-out;
}
.consultBtn:hover{
    border: 1px solid #242424;
    color: #242424;
}

.ProjectBtn{
    background-color: #ffffff;
    color: #242424;
    transition: all .5s ease-in-out;
}
.ProjectBtn:hover{
    background-color: #242424;
    border: 1px solid #242424;
    color: #ffffff;
}

.startProject{
    font-size: 2vw;
    width: 75%;
    background-color: #ffffff;
    color: #242424;
    transition: all .5s ease-in-out;
}
.startProject:hover{
    background-color: #242424;
    border: 1px solid #242424;
    color: #ffffff;
}


.submitBtn{
    padding: 0;
    width: 130px;
    height: 45px;
    background-color: #242424;
    color: white;
    transition: all .5s ease-in-out;
}
.submitBtn:hover{
    border: 1px solid #242424;
    color: #242424;
}


